
<h1>ドライブ目的地編集</h1>

<% if @drive.user == current_user %>
<%= form_with model: @drive, url: public_drife_path, local:true do |f| %>
 <%= f.text_field :address %>
 <%= f.submit "保存" %>
 <%= link_to "削除", public_drife_path, method: :delete %>
<% end %>
<% end %>
