<h1>Public::Drives#new</h1>
<p>Find me in app/views/public/drives/new.html.erb</p>

ここに行きたい場所の登録機能

<h1>行きたい場所の登録</h1>

<%= form_with model: @drive, url: public_drives_path, local:true do |f| %>
 <%= f.text_field :address %>


 <%= f.submit '登録' %>
<% end %>