<h1>Public::Drives#new</h1>
<p>Find me in app/views/public/drives/new.html.erb</p>

ここに行きたい場所の登録機能

<h1>行きたい場所の登録</h1>

<%= form_with model: @drive, url: public_drives_path, local:true do |f| %>
 <%= f.text_field :address %>


 <%= f.submit '登録' %>
<% end %>



<div id="map" style="width: 500px;height: 350px;"></div>

<script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%ENV['MAP_API_KEY'] %>&callback=initMap"
    async defer></script>