<h1>Public::Users#show</h1>
<p>Find me in app/views/public/users/show.html.erb</p>

マイページ、　編集ページへのリンク作成<br>

表示させるもの<br>

自分の投稿一覧<リンクで各投稿の詳細ページへ><br>


ユーザー画像
ユーザーの名前
自己紹介文
退会機能も付ける

<label>プロフィール画像</label>
<%= attachment_image_tag @user, :profile_image, size: '100x100', fallback: "no_image.jpg" %>
<label>ニックネーム</label>
<%= @user.name %>
<label>プロフィール</label>
<%= @user.introduction %>

<%= link_to "プロフィール編集", edit_public_user_path(current_user) %>